body {
  font-family: arial;
}
.open:after {
  content: " X ";
  font-size: 0.8em;
  color: red;
}
.close:after {
  content: " V ";
  font-size: 0.5em;
  color: grey;
}
h2.open:hover,
h2.close:hover {
  cursor: pointer;
}
