{% extends "base.twig" %}

{% block content %}
	<h2>{{ title }}</h2>
	<form method="post" action="/users/add" class="container py-4">
		<input type="hidden" name="token" value="{{ token }}">
		<div class="row">
			<div class="col-md-6">

				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="login" name="login" required>
					<label for="login">Login</label>
				</div>

				<div class="form-floating mb-3">
					<input oninput="checkPassword(this.value)" name="password" type="password" class="form-control" id="password" required>


					<div id="error-message" class="text-danger ms-2"></div>

					<label for="password">Password</label>
				</div>

				<div class="form-floating mb-3">
					<input type="email" class="form-control" id="email" name="email" required>
					<label for="email">Email</label>
				</div>

				<div class="d-grid gap-2 mt-4">
					<button type="submit" class="btn btn-success">Créer un utilisateur</button>
				</div>
			</div>
		</div>
	</form>
	 <script defer type="text/javascript" src="{{ asset('inputChecker.js') }}"></script>

{% endblock %}
